<div class="container">
     <h3>商品一覧<span style="font-size:70%;">（全<%= @quantity %>件）</span></h3> <%# 全商品点数を表記%>
</div>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-xs-3 ">
      <div>
        <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag @product, :image, :fill, 100, 100, format: 'jpeg', fallback: "logo.png", size: 100 %><br>
        <% end %>
        <%= product.name %><br>
        <%= product.price %>円<br>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 ">
      <%= paginate @products %>
    </div>
  </div>
</div>