<div class="container">
  <%# 表題 %>
  <div class="row">
    <div class="page-header">
      <h1>配送先登録/一覧</h1>
    </div>
  </div>

  <%# 配送先登録 入力フォーム %>
  <div class="form-horizontal" role="form">
    <%= form_for(@destination, url: destinations_path) do |f| %>

      <%# 郵便番号入力欄 %>
      <div class="form-group">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "control-label col-xs-3" %>
        <%= f.text_field :postal_code, autofocus: true, class: "col-xs-3" %>
      </div>

      <%# 住所入力欄 %>
      <div class="form-group">
        <%= f.label :address, "住所", class: "control-label col-xs-3" %>
        <%= f.text_field :address, class: "col-xs-6" %>
      </div>

      <%# 宛名入力欄 %>
      <div class="form-group">
        <%= f.label :addressee, "宛名", class: "control-label col-xs-3" %>
        <%= f.text_field :addressee, class: "col-xs-3" %>
        <div class="col-xs-3">
        </div>
        <%= f.submit "登録する", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <br>
  <%# 配送先一覧テーブル %>
  <div class="row">
    <div class="col-xs-10 table-responsive">
      <table class="table">
        <tr class="active">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        <tr>
        <% @destinations.each do |destination| %>
          <tr>
            <td><%= destination.postal_code %></td>
            <td><%= destination.address %></td>
            <td><%= destination.addressee %></td>
            <td>
              <%= link_to "編集する", edit_destination_path(destination.id), class: "btn btn-primary" %>
              <%= link_to "削除する", destination_path(destination.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %>
            </td>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
