<div class="container">
    <h1>商品新規登録</h1>

    <%= form_for(@product, url:admin_products_path) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="col-xs-4">
            <%= f.attachment_field :image, placeholder:"商品画像" %>
        </div>

        <div class="col-xs-8">
            <label>商品名</label>
            <%= f.text_field :name %> <br>

            <label>商品説明</label>
            <%= f.text_area :introduction %> <br>

            <label>ジャンル</label>
            <%= f.number_field :genre %> <br>

            <label>税抜価格</label>
            <%= f.text_field :price %> 円 <br>

            <label>販売ステータス</label>
            <%= f.number_field :validation %> <br>

            <%= f.submit "新規登録"  %>
        </div>
    <% end %>
</div>
