<div class="container">
  <div class="row">
    <h4><%= @user.last_name %><%= @user.first_name %>さんの会員情報編集</h4>
  </div>
</div>
<div class="container">
  <div class="row">
   <table>
    <tbody>
    <%= form_for(@user) do |f| %>
        <tr>
        <th>会員ID</th>
        <td><%= @user.id %></td>
        </tr>

        <tr>
        <th>氏名</th>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
        </tr>

        <tr>
        <th>フリガナ</th>
        <td><%= f.text_field :kana_last_name %></td>
        <td><%= f.text_field :kana_first_name %></td>
        </tr>

        <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :postal_code %></td>
        </tr>

        <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
        </tr>

        <tr>
        <th>電話番号</th>
        <td><%= f.telephone_field :phone_number %></td>
        </tr>

        <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :email %></td>
        </tr>

        <tr>
        <th>会員ステータス</th> <%# 下記、[]:male]と%[]:female]の役割がよく分かっていない。[style:]はtable設定で意味を成していない？ %>
        <td><%= f.radio_button :validation, :male %></td>
        <td><%= f.label :validation, "有効", {value: :male, style: "display: inline-block;"}  %></td>
        <td><%= f.radio_button :validation, :female %></td>
        <td><%= f.label :validation, "無効", {value: :female, style: "display: inline-block;"}  %></td>
        </tr>

        <tr>
        <th><%= f.submit '変更を保存する',class: "btn btn-primary"%></th>
        </tr>
    <% end %>
    </tbody>
   </table>
  </div>
</div>
