<div class='container'>
    <div class='row'>
        <h3> <%= @user.first_name%> <%= @user.last_name%> さんの会員詳細</h3>
        <div class="col-xs-12">
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td> <h5>顧客ID</h5> </td>
                        <td> <%= @user.id %> 
                            <% if @user.validation == true %>
                                <%= "有効" %>
                            <% else %>
                                <%= "退会済み" %>
                            <% end %> 
                        </td>
                    </tr>
                    <tr>
                        <td> <h5>氏名</h5>  </td>
                        <td> <%= @user.first_name%> <%= @user.last_name%> </td>
                    </tr>
                    <tr>
                        <td> <h5>フリガナ</h5>  </td>
                        <td> <%= @user.kana_first_name%> <%= @user.kana_last_name%> </td>
                    </tr>
                    <tr>
                        <td> <h5>郵便番号</h5>  </td>
                        <td> <%= @user.postal_code%> </td>
                    </tr>
                    <tr>
                        <td> <h5>住所</h5>  </td>
                        <td> <%= @user.address %> </td>
                    </tr>
                    <tr>
                        <td> <h5>電話番号</h5> </td>
                        <td> <%= @user.phone_number%> </td>
                    </tr>
                    <tr>
                        <td> <h5>メールアドレス</h5>  </td>
                        <td> <%= @user.email%> </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>    
            
        </div>
    </div>

    <div class='row'>
        <%= link_to '編集する', edit_admin_user_path(@user.id), class: 'btn btn-default' %>

        <%= link_to '注文履歴一覧', admin_orders_path(@user.id), class: 'btn btn-default' %>
    </div>

</div>
