<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <%= render 'layouts/search_side_bar', genres: @genres %>
        </div>
        <div class="col-xs-10">
            <div class="bg_test">
                <div class="bg_test-text">
                    <p>ようこそ、ながのCAKEへ！</p>
                    <p>このサイトは、ケーキ販売のECサイトになります。</p>
                    <p>会員でない方も商品の閲覧はできますが、</p>
                    <p>購入には会員登録が必要になります。</p>
                </div>
            </div>

            <div class="row">
                <div>
                    <h3><strong>オススメ商品</strong></h3>
                </div>
            </div>

            <div class="row">
                <% @products.shuffle.first(4).each do |product| %>
                    <div class="col-xs-3 cakes">
                        <%= link_to product_path(product.id), :style=>"color:black" do %>
                            <div class="image">
                                <%= attachment_image_tag product, :image, format: 'jpg', class: "pull-left profile-img" "img-responsive", fallback: "logo.png", size:'100x100' %><br>
                            </div>
                            <div>
                                <%= product.name %></p>
                            </div>
                            <!-- 売り切れの場合値段を表示しない -->
                            <div class="create-order-btn-wrapper">
                                <% if product.validation == true %>
                                    <%= product.price %>円     
                                <% end %>
                            </div>
                            <div>
                                <% if product.validation == true %>
                                    販売中
                                <% else %>
                                    売切れ
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <br>
            <div class="row">
                <div class="row nextview">
                    <%= link_to "もっと見る", products_path, :style=>"color:black" %>
                </div>
            </div>
        </div>
    </div>
</div>