<div class="container" >
    <div class="row">
        <div class="bg_test">
            <div class="bg_test-text">
                <%# 5/10店名表記変更統一 %>
                <p>ようこそ、ながのCAKEへ！</p>
                <p>このサイトは、ケーキ販売のECサイトになります。</p>
                <p>会員でない方も商品の閲覧はできますが、</p>
                <p>購入には会員登録が必要になります。</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <strong>オススメ商品</strong>
        </div>
    </div>

    <div class="row">

        <% @products.each do |p| %>
            <div class="col-md-3">
                        <%# 5/9 link_toにstyleを追加し文字色を黒に統一 %>
                        <%= link_to product_path(p.id), :style=>"color:black" do %>
                        <%# 5/10 "p.image"の"image"を削除,fillを400,formatを'jpeg'に変更 %>
                            <%= attachment_image_tag p, :image, format: 'jpg', class: "pull-left profile-img", fallback: "logo.png", size:'100x100' %>
                            <br>
                            <%= p.name %><br>
                        <% end %>
                        ¥<%= p.price %>
            </div>
        <% end %>

    </div>

    <div class="row">
        <%# 5/9 link_toにstyleを追加し文字色を黒に統一 %>
        <%= link_to "もっと見る", products_path, :style=>"color:black" %>
    </div>

</div>
