<div class="container" >
    <div class="row">
        <div class="col-xs-2">
            <%= render 'layouts/search_side_bar', genres: @genres %>
        </div>
        <div class="col-xs-10">
            <div class="bg_test">
                <div class="bg_test-text">
                    <%# 5/10店名表記変更統一 %>
                    <p>ようこそ、ながのCAKEへ！</p>
                    <p>このサイトは、ケーキ販売のECサイトになります。</p>
                    <p>会員でない方も商品の閲覧はできますが、</p>
                    <p>購入には会員登録が必要になります。</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <strong>オススメ商品</strong>
                </div>
            </div>

            <div class="row">

                <% @products.shuffle.first(4).each do |p| %>
                        <div class="col-xs-3 cakes">
                                <%# 5/9 link_toにstyleを追加し文字色を黒に統一 %>
                                <%= link_to product_path(p.id), :style=>"color:black" do %>
                                <%# 5/10 "p.image"の"image"を削除,fillを400,formatを'jpeg'に変更 %>
                                    <div class="image">
                                      <%= attachment_image_tag p, :image, format: 'jpg', class: "pull-left profile-img" "img-responsive", fallback: "logo.png", size:'100x100' %><br>
                                    </div>
                                    <p><%= p.name %></p>
                                    <p>¥<%= p.price %></p>
                                <% end %>
                        </div>
                <% end %>

            </div>

            <div class="row nextview">
                <%# 5/9 link_toにstyleを追加し文字色を黒に統一 %>
                <%= link_to "もっと見る", products_path, :style=>"color:black" %>
            </div>
        </div>
    </div>
</div>