<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="navbar navbar-light bg-light">
      <div class="container">
        <nav class="nav navbar-light navbar-left">
          <a href="/" style="font-size: 40px">
            <%= image_tag 'header-logo.png', :size => '150x60' %>
          </a>
        </nav>
        <nav>
          <ul class="nav nav-pills navbar-light navbar-right">
            <% if user_signed_in? %>
              <% if admin_user_signed_in? %>
                <li>
                  ようこそ、<%= current_user.first_name %>さん！
                </li>
                <li>
                  <%= link_to "マイページ", "/user" %>
                </li>
                <li>
                  <%= link_to "商品一覧", products_path %>
                </li>
                <li>
                  <%= link_to "カート", cart_products_path %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  ようこそ、<%= current_user.first_name %>さん！
                </li>
                <li>
                  <%= link_to "マイページ", "/user" %>
                </li>
                <li>
                  <%= link_to "商品一覧", products_path %>
                </li>
                <li>
                  <%= link_to "カート", cart_products_path %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% end %>
            <% elsif admin_user_signed_in? %>
                <li>
                  <%= link_to "商品一覧", admin_products_path %>
                </li>
                <li>
                  <%= link_to "会員一覧", admin_users_path %>
                </li>
                <li>
                  <%= link_to "注文履歴一覧", admin_orders_path %>
                </li>
                <li>
                  <%= link_to "ジャンル一覧", admin_genres_path %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to "商品一覧", products_path %>
                </li>
                <li>
                  <%= link_to "新規登録", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
            <% end %>
            <li><a href="" title=""></a></li>
          </ul>
        </nav>
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |key, value| %>
              <% key = "info" if key == "notice" %>
              <% key = "danger" if key == "alert" %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
          </div>
        </div>
      </div>
    </header><!-- /header -->
    <%= yield %>
  </body>

</html>
