<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="navbar navbar-light bg-light">
      <div class="container">
        <nav class="nav navbar-light navbar-left">
          <%# ロゴのリンク先もECサイトと管理人サイトで分けます。%>
          <% if request.url.include?('admin') %>  <%# 今のURLに'admin'が入っているかどうかでどちらのサイトなのかを識別 %>
            <%# 管理人サイトの場合 %>
            <a href="/admin" style="font-size: 40px">
              <%= image_tag 'header-logo.png', :size => '150x60' %>
            </a>
          <% else %>
            <%# ECサイトの場合 %>
            <a href="/" style="font-size: 40px">
              <%= image_tag 'header-logo.png', :size => '150x60' %>
            </a>
          <% end %>
        </nav>
        <nav>
          <ul class="nav nav-pills navbar-light navbar-right">
            <%# 今のURLにadminが入っているかどうかでどちらのサイトなのかを識別 %>
            <% if request.url.include?('admin') %>
              <%# 管理者サイト かつ 管理人でログインしている場合 %>
              <% if admin_user_signed_in? %>
                <li>
                  <%= link_to "商品一覧", admin_products_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "会員一覧", admin_users_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "注文履歴一覧", admin_orders_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "ジャンル一覧", admin_genres_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete, :style=>"color:black;" %>
                </li>

              <%# 管理者サイト かつ 管理人でログインしていない場合(adminのログイン画面のみ) %>
              <% else %>
                <li>
                  <%= link_to "ECサイト：商品一覧", products_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "ECサイト：新規登録", new_user_registration_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "ECサイト：ログイン", new_user_session_path, :style=>"color:black;" %>
                </li>
              <% end %>
            <%# ECサイト かつ 会員でログインしている場合 %>
            <% elsif user_signed_in? %>
                <li>
                  ようこそ、<%= current_user.first_name %>さん！
                </li>
                <li>
                  <%= link_to "マイページ", "/user", :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "商品一覧", products_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "カート", cart_products_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:black;" %>
                </li>
            <%# ECサイト かつ 会員でログインしていない場合 %>
            <% else %>
                <li>
                  <%= link_to "商品一覧", products_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, :style=>"color:black;" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path, :style=>"color:black;" %>
                </li>
            <% end %>
            <li><a href="" title=""></a></li>
          </ul>
        </nav>
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |key, value| %>
              <% key = "info" if key == "notice" %>
              <% key = "danger" if key == "alert" %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
          </div>
        </div>
      </div>
    </header><!-- /header -->
    <%= yield %>
  </body>

</html>
